# Service Port
PORT=8001

# Database Connection URL
DATABASE_URL=postgresql://user:password@db:5432/feedback_db

# Default Organization ID
DEFAULT_ORGANIZATION_ID=8a1a7ac2-e528-4e63-8e2c-3a37d1472e35 